.checkbox-field {
  display: flex;
  align-items: flex-start;
  gap: var(--space-2);
}

.checkbox-field label {
  font-weight: 700;
}

.checkbox-field input {
  width: 1rem;
  margin-top: var(--space-1);
}
